.o-container {

	/* DEFAULT
	************************************************************************/

	margin-left:auto;
	margin-right:auto;
	width:100%;
	max-width:width();
	align-self:center;

	/* WIDTH VARIATIONS - see config/settings.scss
	************************************************************************/

	@each $name, $width in $widths {
		&--#{$name} {
			max-width:$width;
		}
	}

	&--half {
		@media #{$default} {
			width:50%;	
		}		
		max-width: none;
	}

	&--full {
		max-width:none;
	}

	&--auto {
		width:auto;
		max-width:none;
	}	

	/* FLEX POSITIONING	
	************************************************************************/

	&--top {
		margin-bottom:auto;
	}

	&--right {
		align-self: flex-end;
	}		

	&--bottom {
		margin-top:auto;
	}

	&--left {
		align-self: flex-start;
	}	

	/* STACKING BEHAVIOUR
	************************************************************************/

	& + .o-container {
		margin-top:spacer(xl);
		@media #{$respond} {
			margin-top: spacer(lg);
		}
	}

}