.o-container {

	/* DEFAULT
	************************************************************************/

	margin-left:auto;
	margin-right:auto;
	width:100%;
	max-width:width();
	align-self:center;

	@media #{$ie} {
		min-height:1px;
	}

	/* WIDTH VARIATIONS - see config/settings.scss
	************************************************************************/

	@each $name, $width in $widths {
		&--#{$name} {
			max-width:$width;
		}
	}

	&--half {
		@media #{$desktop}, #{$tablet} #{$landscape} {
			width:50%;
		}
		max-width: none;
	}

	&--two-thirds {
		@media #{$desktop}, #{$tablet} #{$landscape} {
			width:66.666%;
		}
		max-width: none;
	}

	&--full {
		max-width:none;
	}

	&--auto {
		width:auto;
		max-width:none;
	}

	/* FLEX POSITIONING
	************************************************************************/

	&--top {
		margin-bottom:auto;
	}

	&--right {
		align-self: flex-end;
	}

	&--bottom {
		margin-top:auto;
	}

	&--left {
		align-self: flex-start;
	}

	/* STACKING BEHAVIOUR
	************************************************************************/

	& + .o-container {
		margin-top:calc(3rem * #{$zoom});
		@media #{$respond} {
			margin-top: spacer();
		}
	}

	&--detached {
		& + .o-container {
			margin-top:spacer(md);
			@media #{$respond} {
				margin-top: spacer(sm);
			}
		}
	}

	&--attached {
		& + .o-container {
			margin-top:calc(3rem * #{$zoom});
			@media #{$respond} {
				margin-top: spacer();
			}
		}
	}

	&--inline {
		& + .o-container {
			margin-top:calc(2rem * #{$zoom});
			@media #{$respond} {
				margin-top: 1rem;
			}
		}
	}

	&--flush {
		& + .o-container {
			margin-top:0;
		}
	}

}