.o-modules {

	width:100%;
	display:flex;
	flex-direction: column;
	justify-content:center;

	&--inline {
		margin:auto;
		max-width:width();
	}

	> .o-container {
		margin-left:0;
		margin-right:0;
	}

}