.o-section {

	/* DEFAULT
	************************************************************************/

	width:100%;
	padding:spacer();
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	position:relative;
	background-attachment:fixed;

	/* PADDING VARIATIONS - see config/settings (spacers)
	************************************************************************/

	@each $modifier, $value in $spacers {
		&--#{$modifier} {
			padding:$value;
		}
		&--#{$modifier}--x {
			padding-left:$value;
			padding-right:$value;
		}
		&--#{$modifier}--y {
			padding-top:$value;
			padding-bottom:$value;
		}
	}

	/* MOBILE BEHAVIOUR
	************************************************************************/

	@media #{$respond} {
		padding:spacer();
	}

	/* PADDING HELPERS
	************************************************************************/

	&--collapse {
		padding:0;
	}

	&--collapse--x {
		padding-left:0;
		padding-right:0;
	}

	&--collapse--y {
		padding-top:0;
		padding-bottom:0;
	}

	&--collapse--top {
		padding-top:0;
	}

	&--collapse--right {
		padding-right:0;
	}

	&--collapse--bottom {
		padding-bottom:0;
	}

	&--collapse--left {
		padding-left:0;
	}

	/* ACF VARIATIONS
	************************************************************************/

	&__overlay {
		position: absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		display: block;
		content:"";
		z-index:0;
	}

	> *:not(.o-section__overlay) {
		position:relative;
		z-index: 1;
	}

}