.site-header {

	min-height:100vh;
	display: flex;
	flex-direction: column;

	header {

		padding:spacer(sm);
		width: 100%;
		flex:none;

		@media #{$default} {

			padding:spacer(md) spacer(xl);
			transition:all $speed ease;

		}
	}

	nav {
		width: 100%;
		line-height: 1;
		flex:none;
		padding:1em;
		@media #{$default} {
			padding:1em spacer(xl);
		}

		a {
			text-transform: uppercase;
			display: inline-block;
			& + a {
				margin-left:0.5em;
				&::before {
					content:"/";
					margin-right:0.5em;
				}
			}
		}

		body.scroll-below-header & {

			position:fixed;
			top:0;
			z-index: 1;

			& + * {
				margin-top:calc(3em);
			}

		}

	}

	.o-header {
		display: flex;
		flex: 1 0 auto;
		align-items: center;
	}

}