/* HEADING DEFAULTS
**********************************************************************/

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	text-transform: uppercase;	
}

/* HEADING CLASSES
**********************************************************************/

h1, .h1 {
	font-size:em(75px);	
}
	
h2, .h2 {
	font-size:em(50px);	
}

h3, .h3 {
	font-size:em(40px);	
}

h4, .h4 {
	font-size:em(30px);	
}

h5, .h5 {
	font-size:em(20px);	
}

h6, .h6 {
	font-size:em(16px);	
}