p {

	font-size:em($font-size);

	&.xl {
		font-size:em(30px);
	}

	&.lg {
		font-size:em(20px);
	}

	&.sm {
		font-size:em(16px);
	}

	&.xs {
		font-size:em(12px);
	}

	a:not(.c-button) {
		text-decoration: underline;
		@include hover {
			opacity: 0.5;
		}
	}

	&.lead {
		margin-top:0;
	}

}