.c-button {

	/* DEFAULT
	************************************************************************/

	display:inline-block;
	text-align:center;
	cursor:pointer;
	padding:1em;
	font-size:em(16px);
	font-weight:700;
	border:0;
	background:grey;
	color:white;
	border-radius:8px;
	line-height:1;

	@include hover {
		box-shadow: inset 0px 0px 100px 200px rgba(0,0,0,0.15);
		text-decoration: none;
	}

	@media #{$respond} {
		width:100%;
	}

	@media #{$default} {
		width:100%;
		max-width:em(152px, 16px);
		white-space: nowrap;
	}

	/* VARIATIONS
	************************************************************************/

	&--slim {
		padding:0.4em 1em;
	}

	&--border {
		background:transparent;
		padding:calc(1em - 2px);
		border:2px solid grey;
		color:grey;
		&.c-button--slim {
			padding:0.4em 1em;
		}
	}

	/* COLOURS
	************************************************************************/

	@each $name, $hex in $colors {

		&--#{$name} {
			background-color:#{$hex};
			color:set-contrast-color($hex);
		}

		&--border--#{$name} {
			@extend .c-button--border;
			border:2px solid #{$hex};
			color:#{$hex};
			&.c-button--slim {
				padding:0.4em 1em;
			}
		}

		&.color-#{$name} {
			color:#{$hex};
		}
	}

}

/* BUTTON GROUPS
************************************************************************/

.c-button-row {
	display: flex;
	@media #{$respond} {
		flex-direction: column;
	}
}

.c-button-column {
	display: flex;
	flex-direction: column;
}

/* SIBLING BEHAVIOUR
************************************************************************/

.c-button {
	@media #{$respond} {
		& + .c-button {
			margin-top:1em;
		}
	}
	@media #{$default} {
		& + .c-button {
			margin-left:1em;
		}
	}
}
