/* Raw hex color vars, accessible through color(name) funciton
/* http://chir.ag/projects/name-that-color/ - https://www.htmlcsscolor.com
************************************************************************/

$colors: (

	/* Colours */
	"granny-apple":			#d0f4ea,
	"mimosa":				#e8fcc2,
	"wild-willow":			#b1cc74,
	"shuttle-grey":			#545F66,
	"regent-grey":			#829399,

	/* Greyscale */
	"black":				#000000,
	"white": 				#ffffff,

);

/* Semantic colour vars
************************************************************************/

$primary: color("black");
$body-color: set-contrast-color($primary);
$constrast-color: set-contrast-color($body-color);

/* STATE COLOURS
************************************************************************/

$color-error: red;
$color-success: green;