
/* MANDATORY BASICS
************************************************************************/

$font-size:			16px;						/* Base REM, for normal paragraphs */
$speed:				0.5s;						/* Global default transition speed */
$assets: 			"/assets"; 					/* Path to assets */
$zoom:				1;							/* When the PSD is massive, scale content relatively */
$line-height:		1.4;
$body-font:			'Roboto Slab', serif;

/* WIDTH AND SPACER HELPERS
************************************************************************/

$widths: (
	xs:				em(768px),
	sm:				em(1024px),
	md:				em(1280px),
	lg:				em(1410px),
	xl:				em(1920px),
);

$spacers: (
	1:				1rem,
	2:				2rem,
	3:				3rem,
	4:				4rem,
	5:				5rem,
	xs:				em(30px),
	sm:				em(40px),
	md:				em(65px),
	lg:				em(90px),
	xl:				em(120px),
	vw:				6vw,
);

/* FONT SIZES
************************************************************************/

$font-sizes: (
	10px,
	12px,
	14px,
	16px,
	18px,
	20px,
	22px,
	24px,
	26px,
	28px,
	30px,
	32px,
	34px,
	36px,
	38px,
	40px,
	42px,
	44px,
	46px,
	48px,
	50px,
	52px,
	54px,
	56px,
	58px,
	60px,
	65px,
	70px,
	75px,
	80px,
	85px,
	90px,
	95px,
	100px,
	110px,
	120px,
	130px,
	140px,
	150px,
	175px,
	200px,
);

/* DEV MODE
/* View semi transparent bg on all elements
************************************************************************/

$devmode: 			true;

@if $devmode {
	body:not(.wp-admin) * {
		background-color: rgba(white, 0.25) !important;
		&:nth-child(even) {
			background-color: rgba(grey, 0.75) !important;
		}
	}
}

/* SHOW COLUMNS
/* Show grid columns
************************************************************************/

$columns:			false;

@if $columns {


	/* Settings */
	:root {
		--offset: 0rem;
		--max_width: 1152px;
		--columns: 12;
		--gutter: 2vw;
		--baseline: 3rem;
		--baseline-shift: 2rem;
		--color: red;
	}

	/* Helper variables */
	:root {
		--repeating-width: calc(100% / var(--columns));
		--column-width: calc((100% / var(--columns)) - var(--gutter));
		--background-width: calc(100% + var(--gutter));
		--background-columns: repeating-linear-gradient(
			to right,
			var(--color),
			var(--color) var(--column-width),
			transparent var(--column-width),
			transparent var(--repeating-width)
			);
		--background-baseline: repeating-linear-gradient(
			to bottom,
			var(--color),
			var(--color) 0px,
			transparent 0px,
			transparent var(--baseline)
			);
	}

	.site-main .o-container {
		position: relative;
		&::before {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			margin-right: auto;
			margin-left: auto;
			width: calc(100% - (2 * var(--offset)));
			max-width: var(--max_width);
			content: '';
			background-image: var(--background-columns), var(--background-baseline);
			background-size: var(--background-width) 100%;
			background-position: 0 var(--baseline-shift);
			z-index: 1000;
			pointer-events: none;
			opacity: 0.25;
		}
	}
}
