/* ANIMATION DURATION HELPERS
********************************************************************************/

@for $i from 1 through 3 {
  .duration-#{$i} {
    animation-duration:$speed * $i;
  }
}


/* ANIMATION DELAY HELPERS
********************************************************************************/

@for $i from 1 through 3 {
  .delay-#{$i} {
    animation-delay:$speed * $i;
  }
}

/* BREAKPOINT ADAPT HELPERS
********************************************************************************/

.respond {
  display:none;
  @media #{$respond} {
    display: block;
  }
}

.default {
  display:none;
  @media #{$default} {
    display: block;
  }
}

.mobile {
  display:none;
  @media #{$mobile} {
    display: block;
  }
}

.device {
  display:none;
  @media #{$device} {
    display: block;
  }
}

.tablet {
  display:none;
  @media #{$tablet} {
    display: block;
  }
}

.tabtop {
  display:none;
  @media #{$tabtop} {
    display: block;
  }
}

.desktop {
  display:none;
  @media #{$desktop} {
    display: block;
  }
}

/* FLEXBOX HELPERS
********************************************************************************/

.align-start {
  align-items:flex-start;
}

.align-center {
  align-items:center;
}

.align-end {
  align-items:flex-end;
}

.justify-start {
  justify-content:flex-start;
}

.justify-center {
  justify-content:center;
}

.justify-end {
  justify-content:flex-end;
}

.justify-between {
  justify-content: space-between;
}

/* TEXT ALIGNMENT HELPERS
********************************************************************************/

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* FONT SIZE HELPERS
********************************************************************************/

@each $size in $font-sizes {
  $class: strip-unit($size);
  .size-#{$class} {
    font-size:em($size, $font-size);
  }
}

/* FONT WEIGHT HELPERS
********************************************************************************/

.weight-300 {
  font-weight:300;
}

.weight-400 {
  font-weight:400;
}

.weight-600 {
  font-weight:600;
}

.weight-700 {
  font-weight:700;
}

.weight-900 {
  font-weight:900;
}

/* PADDING HELPERS
********************************************************************************/

@each $modifier, $value in $spacers {

  .p-#{$modifier} {
    padding:$value;
  }
  .px-#{$modifier} {
    padding-left:$value;
    padding-right:$value;
  }
  .py-#{$modifier} {
    padding-top:$value;
    padding-bottom:$value;
  }
  .pt-#{$modifier} {
    padding-top:$value;
  }
  .pr-#{$modifier} {
    padding-right:$value;
  }
  .pb-#{$modifier} {
    padding-bottom:$value;
  }
  .pl-#{$modifier} {
    padding-left:$value;
  }
}

/* MARGIN HELPERS
********************************************************************************/

@each $modifier, $value in $spacers {

  .m-#{$modifier} {
    margin:$value;
  }
  .mx-#{$modifier} {
    margin-left:$value;
    margin-right:$value;
  }
  .my-#{$modifier} {
    margin-top:$value;
    margin-bottom:$value;
  }
  .mt-#{$modifier} {
    margin-top:$value;
  }
  .mr-#{$modifier} {
    margin-right:$value;
  }
  .mb-#{$modifier} {
    margin-bottom:$value;
  }
  .ml-#{$modifier} {
    margin-left:$value;
  }
}

/*  BACKGROUND AND COLOUR HELPERS (see config/colors.scss)
********************************************************************************/

@each $name, $hex in $colors {
  .background-#{$name} {
    background-color:#{$hex};
    &.color-contrast {
      color:set-contrast-color($hex);
    }
  }
  .color-#{$name} {
    color:#{$hex};
  }
  .color-#{$name}-contrast {
    color:set-contrast-color($hex);
  }
  .hover-#{$name} {
    &:hover {
      color:$hex;
    }
  }
}