/* ANIMATION DELAY HELPERS
************************************************************************/

.delay0 {
  animation-delay: 0;
}

.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.2s
}

.delay3 {
  animation-delay: 0.3s;
}

/* BREAKPOINT ADAPT HELPERS
************************************************************************/

.respond {
  display:none;
  @media #{$respond} {
    display: block;
  }
}

.default {
  display:none;
  @media #{$default} {
    display: block;
  }
}

.mobile {
  display:none;
  @media #{$mobile} {
    display: block;
  }
}

.device {
  display:none;
  @media #{$device} {
    display: block;
  }
}

.tablet {
  display:none;
  @media #{$tablet} {
    display: block;
  }
}

.tabtop {
  display:none;
  @media #{$tabtop} {
    display: block;
  }
}

.desktop {
  display:none;
  @media #{$desktop} {
    display: block;
  }
}

/* FLEXBOX HELPERS
************************************************************************/

.align-start {
  align-items:flex-start;
}

.align-center {
  align-items:center;
}

.align-end {
  align-items:flex-end;
}

.justify-start {
  justify-content:flex-start;
}

.justify-center {
  justify-content:center;
}

.justify-end {
  justify-content:flex-end;
}

.justify-between {
  justify-content: space-between;
}

/* TEXT ALIGNMENT HELPERS
************************************************************************/

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* FONT SIZE HELPERS
************************************************************************/

.size-2 {
  font-size:1.5em;
}

.size-3 {
  font-size:3rem;
}

.size-4 {
  font-size:4rem;
}

/* FONT WEIGHT HELPERS
************************************************************************/

.weight-300 {
  font-weight:300;
}

.weight-400 {
  font-weight:400;
}

.weight-600 {
  font-weight:600;
}

.weight-700 {
  font-weight:700;
}

.weight-900 {
  font-weight:900;
}

/*  BACKGROUND AND COLOUR HELPERS (see config/colors.scss)
************************************************************************/

@each $name, $hex in $colors {
  .background-#{$name} {
    background-color:#{$hex};
  }
  .color-#{$name} {
    color:#{$hex};
  }
  .color-#{$name}-contrast {
    color:set-contrast-color($hex);
  }
}

/* Additional padding classes
************************************************************************/
@media #{$default} {
  @each $modifier, $value in $spacers {
    .padding-#{$modifier} {
      padding:$value;
    }
  }
}
